.reloj{
    background: linear-gradient(#111,#666);
    border: 2px solid #000;
    display: inline-flex;
}
.reloj div{
    color: #fff;
    padding: 5px 9px;
}

.modal-overlay {
background: rgba(0,0,0,0.7);
width: 100%;
height: 100%;
box-sizing: border-box;
position: absolute;
opacity: 0;
animation: aparecer 1s forwards;
}
@keyframes aparecer{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes desaparecer{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
